@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  a,
  input,
  button,
  textarea {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-[#f2f2f2] dark:bg-[#242424] text-black dark:text-white;
  }

  body,
  .root {
    @apply m-0 flex w-full min-h-screen overflow-x-hidden;
  }
}

@layer components {
  .buttonForm {
    @apply bg-main-accent hover:drop-shadow-md w-fit text-white inline-flex h-[35px] items-center justify-center rounded-[4px] px-[15px] font-medium leading-none focus:shadow-[0_0_0_2px] focus:outline-none focus-within:ring-2 focus-within:ring-main-accent/50 focus-within:ring-offset-2;
  }
}
